{% extends 'Base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to FoodCloud Ecommerce</p>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae consectetur,
                    culpa cum dicta esse est iusto labore laudantium libero, nobis odit perferendis quisquam quo,
                    repudiandae veniam veritatis voluptas voluptate?Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Aut, consequuntur corporis delectus dolore dolores dolorum fugit illum iste non pariatur quas
                    qui repellat rerum sint soluta vel vitae voluptate voluptatem?Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Amet exercitationem labore odio reiciendis tempora ullam voluptates.
                    Aliquid dolores ea officia qui recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Adipisci aliquid asperiores distinctio dolorum ducimus, excepturi in iusto labore molestiae
                    necessitatibus nostrum porro ratione recusandae repudiandae rerum sequi soluta. Nisi,
                    quibusdam.Assumenda est eum quia quod rerum tenetur vero?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. At cupiditate earum fugiat in iure laudantium suscipit? Consequatur doloremque ea,
                    eaque eligendi molestias nam necessitatibus quas qui quisquam recusandae totam </p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores, at
                    corporis dolorem earum incidunt minima rem temporibus! Error hic minima quisquam ratione temporibus
                    veniam? Eos nam nihil officia officiis lorem Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Dicta doloremque eveniet ipsa ipsam, provident quae quaerat sint sit ut! Dolore iure
                    molestias, perspiciatis porro provident quam repellendus repudiandae tempora! Reiciendis?.</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet aperiam
                    assumenda eaque eligendi esse eum explicabo impedit, in ipsum iusto labore modi molestias quia
                    quidem quis sequi, vel voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium distinctio, ducimus laboriosam molestias obcaecati placeat. Consequatur harum magni
                    maxime unde ut! Amet eveniet excepturi minus nostrum nulla quasi reiciendis totam! Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Aspernatur, debitis eum laboriosam maxime quibusdam tempora
                    totam. Architecto dolorum eum fugiat illum impedit maxime vero. Deleniti illum maiores non quod
                    soluta! lorem</p>
            </div>
        </center>
    </div>
</div>

{% endblock %}